/* src/components/HeaderImage.css */
/* src/components/HeaderImage.css */
.header-image {
    width: 100%;
    height: 40vh; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  