.carouselContainer {
    width: 90%; 
    margin: 0 auto;
  }
  
  .carouselButton {
    flex: 1;
    margin: 0 10px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .carouselButton img {
    width: 100%;
    height: auto;
  }
  