
.custom-link {
    font-family: "Royal Acidbath";
    font-weight: 300;
    font-size: 18px;
    text-decoration: none; 
    color: inherit; 
  }
  
  .custom-link:hover {
    text-decoration: underline; 
  }
  